.editorWrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 10px);

  .buttonFormat {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 20;
    opacity: 0;
    transition: opacity 0.5s;
  }

  &:hover {
    .buttonFormat {
      opacity: 1;
    }
  }
}
