.iframeWrapper {
  height: 100%;
  position: relative;
  flex-grow: 1;
  background-color: #fff;

  iframe {
    height: 100%;
    width: 100%;
  }
}

.react-draggable-transparent-selection {
  .iframeWrapper {
    &::after {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      opacity: 0;
    }
  }
}
